/* Write your CSS here */
li {
  list-style: none;
  /* width: 150; */
  margin: 10px;
}
button {
  background-color: #382f5a;
  color: #c4c4c4;
  border-radius: 5px;
  height: 30px;
  width: 120px;
  border: 1px solid #ffffff;
  cursor: pointer;
}
